.header{
    background-color: #18191b;
    color: white;
    padding: 1% 0%;
}

.container {
    background-color: #18191b;
    padding: 5% 10%;
    border-radius: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
