.header{
    background-color: #18191b;
    color: white;
    padding: 1% 0%;
}

.container {
    background-color: #18191b;
    padding: 2% 10%;
    border-radius: 10px;
}

.add_link{
    background-color: white;
    padding: 1% 4%;
    font-weight: bold;
    border-radius: 50px;
}

.add_link:hover{
    color: white;
    background-color: #3185ff;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.form-label{
    color: white;
}
